/* BODY! */
body {
    margin: 0;
    padding: 0;
    font-family: "Courier New", Courier, monospace;
  }

/* Navebar! */
.topnavebar {
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    border-bottom: 5px solid #045faa;
  }
  
.topnavebar a {
    float: center;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 20px;
}

.topnavebar a:hover {
    background-color: rgb(255, 255, 255);
    color: black;
}
  
.topnavebar a.active {
    background-color: #045faa;
    color: white;
}

/* Corpo da Página! */

.principal {
    display: flex;
    height: auto;
    width: 100%;
    background-color: #ffffff;
    float:none;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(200px, 1fr));
    gap: 20px;
}

/* Footer */
footer{
    border-top: 5px solid #045faa;
    background-color: rgb(0, 0, 0);
    color: white;
    bottom: 0;
    left: 0;
    height: 65px;
    position: fixed;
    width: 100%;
}

/* Dentro da Principal*/
.centro {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #045faa;
}

.centro1 {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 5px solid #045faa;
}

.centro2 {
    width: 350px;
    height: 350px;
    border-radius: 10%;
    border: 5px solid #045faa;
}

.centro3 {
    width: 550px;
    height: 350px;
    border-radius: 10%;
    border: 5px solid #045faa;
}

/* Imagem Centro */
.ImagemCentro {
    text-align: center
}

/* Texto Centro */
.TextoCentro1 {
    background-color: rgb(255, 253, 125);
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 100px;
    margin-top: 10px;
    padding: 5px;
    font-size: 100%;
    border-radius: 20px;
    border: 5px solid #045faa;
}

.TextoCentro2 {
    background-color: rgb(255, 253, 125);
    margin-left: 140px;
    margin-right: 140px;
    margin-bottom: 100px;
    margin-top: -75px;
    padding: 5px;
    font-size: 100%;
    border-radius: 20px;
    border: 5px solid #045faa;
}

.FundoTexto {
    background-color: rgb(255, 255, 255);
    margin-left: 140px;
    margin-right: 140px;
<<<<<<< HEAD
    margin-bottom: -20px;
=======
    margin-bottom: 100px;
>>>>>>> 47d879f39579702d1a2c5dc491f0a27cec5b85e3
    margin-top: 10px;
    padding: 5px;
    font-size: 100%;
    border-radius: 20px;
    border: 5px solid #045faa;
}

p{
    margin-left: 20px;
    margin-right: 20px;
}

h1 {
    margin-top: 5px;
    margin-bottom: 10px;
}

h2 {
    background-color: rgb(255, 253, 125);
    border: 5px solid #045faa;
    border-radius: 20px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 25px;
    padding: 5px;
    font-size: 150%;
    text-align: center;
}

h3 {
    margin-bottom: -10px;
}

/* Button */

.button {
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    margin-bottom: 15px;
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  .button1 {
    background-color: white; 
    color: black;
    border-radius: 50px;
    border: 5px solid #045faa;
  }
  
  .button1:hover {
    background-color: rgb(255, 253, 125);
    color: rgb(0, 0, 0);
  }
  